.stileTitolo {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    color : black;
    font-weight: 600;
}

.imgStyle {
    width: 150px;
    height: 200px;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background: linear-gradient(135deg, #000000, #1a1a1a, #333333);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
input::placeholder {
  color: #ffffff; /* colore grigio chiaro */
  opacity: 1;  /* assicura che il colore sia visibile */
}
.mainContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 10rem;
    padding: 5rem;
    align-items: center;
}

.linkStyle {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    color : rgb(206, 25, 25);
}

.cardStyle{
    width: 400px;
    width: 400px;
}


.goToPageStyle {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    color : rgb(206, 25, 25);
}





@media (max-width: 768px) {
    .menuContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dropdownContainer {
        margin-top: 6rem;
    }

    .searchContainer {
        align-items:  center;
    }

    .mainContainer {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .cardStyle {
        width: 100%;
    }
}